@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  right: 0;
  border-color: #064e3b; /* border-green-900 */
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #6366F1;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  display: block;
  overflow: hidden;
  height: 1.5rem; /* h-6 */
  border-radius: 9999px; /* rounded-full */
  background-color: #d1d5db; /* bg-gray-300 */
  cursor: pointer;
  position: relative;
  top: 2px;
}

.dark .toggle-label::after,
.toggle-label::after {
  position: absolute;
  display: block;
  height: 1rem; /* h-4 */
  width: 1rem; /* w-4 */
  top: 50%;
transform: translateY(-50%);
left:0;
  margin-left: .25rem;
  border-radius: 9999px; /* rounded-full */
  background-color: #ffffff; /* bg-white */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow */
  transition: transform 0.3s ease-in-out;
  content: '';
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.dark .toggle-label::after {
  background-image: url('../images/icons/dark-mode.svg');
}

.toggle-label::after {
  background-image: url('../images/icons/light-mode.svg');
}

.toggle-checkbox:checked + .toggle-label::after {
  transform: translateY(-50%) translateX(1rem); 
}
  input:focus, textarea:focus{
    outline: 3px solid #6366F1;
    caret-color: #6366F1;
  }
  
  .email_Btn{
    background-color: #f4ff7a;
    margin-left: 1.6rem;
    padding: 2px 16px 4px 16px;
    border: 1px solid #000;
    border-radius: 24px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 1.15;
    transition: all .275s ease;
}
.github_Btn{
    background-color: #f4ff7a;
    margin-left: 1rem;
    padding: 2px 14px 4px 14px;
    border: 1px solid #000;
    border-radius: 24px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 1.15;
    transition: all .275s ease;
}

.github_Btn:hover{
    background-color: #000;
    color: #fff;
}

.email_Btn:hover{
    background-color: #000;
    color: #fff;
}


    body.dark .github_Btn, body.dark .email_Btn {
        background-color: #6366F1;
    }
    body.dark .email_Btn:hover,  body.dark .github_Btn:hover{
        background-color: #000 ;
        color: #ececec;
    }