.page{
    background-color: #ececec;
    padding-left: 1.5vw;
    padding-top: 3vh;
    margin-top: 1rem;

    max-width: 66.66%;
    margin-left: 33.33%;
    color: #232129;

  }
.dark .page{
  background-color: #232129;
  color: #ececec;
}
  .titleText {
    font-size: 10vw;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 768px) {
   .page{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 3vh;
    margin-top: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #232129;
   }
   .dark .page{
    color: #ececec;
   }
}