/* CSS */
.link_btn {
    background-color: #2c3135;
    color: whitesmoke;
    border: 1px solid transparent;
    margin-left: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none #c6c9ce solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .link_btn:hover {
    box-sizing: border-box;
    background-color: transparent;
    color: #111827;
    border: 1px solid transparent; 
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  
  .link_btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .link_btn:focus-visible {
    box-shadow: none;
  }

.dictionary {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.tech_thumb{
    max-width:3vw;
    display:inline-flex;
    margin: 1rem;
}

.page{
    background-color: #ececec;
    padding-left: 1.5vw;
    padding-top: 3vh;
    margin-top: 1rem;

    max-width: 66.66%;
    margin-left: 33.33%;
    color: #232129;
  }

  .titleText {
    font-size: 10vw;
    margin-bottom: 1rem;
  }

.vagusStyle{
    max-width: 33.33vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.babyStepsStyle{
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  @media only screen and (max-width: 768px) {
    .page{
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-top: 3vh;
        margin-top: 1rem;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: #232129;
       }
   .tech_thumb{
    max-width:6vw;
    display:inline-flex;
    margin: 1rem;
    }
    .vagusStyle{
    max-width: 66.66vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    .babyStepsStyle{
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .link_btn {
      
        margin-left: 0.5rem;
        margin-top: 4rem;
       
      }

}